.style {
  background-color: #fca5a5;
}
.fashion {
  background-color: #93c5fd;
}
.food {
  background-color: #86efac;
}
.travel {
  background-color: #fde047;
}
.culture {
  background-color: #d8b4fe;
}
.coding {
  background-color: #f9a8d4;
}
